<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections >
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="VerboseRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true"/>
      <file value="verbose.txt"/>
      <maxFileSize value="1024"/>
      <maxSizeRollBackups value="3"/>
      <preserveLogFileNameExtension value="true"/>
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline"/>
      </layout>
      
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
        <acceptOnMatch value="true"/>
      </filter>
      <!--<filter type="log4net.Filter.DenyAllFilter"/>-->
    </appender>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true"/>
      <file value="error.txt"/>
      <maxFileSize value="1024"/>
      <maxSizeRollBackups value="3"/>
      <preserveLogFileNameExtension value="true"/>
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline"/>
      </layout>
      
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
        <acceptOnMatch value="true"/>
      </filter>
      <!--<filter type="log4net.Filter.DenyAllFilter"/>-->
    </appender>
    <appender name="ForwardingAppender" type="log4net.Appender.ForwardingAppender">
      <appender-ref ref="VerboseRollingFileAppender"/>
      <appender-ref ref="ErrorRollingFileAppender"/>
    </appender>
    <root>
      <appender-ref ref="ForwardingAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>